# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables
.env
.env.test
.env.production
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.iml

# OS files
.DS_Store
Thumbs.db

# NestJS
.nest-cli.json
